# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
/.vs/Cpp_Learning
/x64/Debug
/PointersAndReferances/x64/Debug
/ExceptionHandling/x64/Debug/Exceptio.21849e60.tlog
/ExceptionHandling/x64/Debug
/Constant/x64/Debug
